.grammarContainer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 5% 0 5% 0;
  min-height: 70.1vh;
  list-style: none;
}
.column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 24%;
  border-right: 3px solid var(--light-gray);
  border-left: 3px solid var(--light-gray);
}
.noteName {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  height: 70px;
  font-weight: bold;
  color: var(--dark-green);
  border-bottom: 3px solid var(--light-gray);
}
.detail {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  padding: 15px;
  border-bottom: 2px solid var(--light-gray);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 1.6rem;
  padding: 5px 0;
  font-weight: 600;
  color: var(--strong-red);
}
.text {
    font-style: italic;
  padding: 5px 0;
  min-height: 45px;
  height: 60px;
  font-size: 1.2rem;
}
.example {
  display: flex;
  justify-content: left;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 10px 0;
  color: var(--green);
}
.exampleText {
  display: flex;
  justify-content: left;
  height: 25px;
  font-size: 1.2rem;
  color: var(--very-dark-desaturated-blue);
  font-weight: bold;
}
