.header {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 120px;
    justify-content: center;
    background-color: var(--light-grayish-cyan);
    padding: 15px 20%;
    font-family: 'Montserrat', sans-serif;
  }
  .heading {
    font-size: 34px;
    font-weight: bold;
    color: #27293d;
    margin: 0;
  }
  .text {
    font-size: 16px;
    padding: 14px 0 5px;
    color: var(--dark-gray);
    font-style: italic;
  }