.header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  height: 120px;
  padding: 10px 5% 10px 10%;
}
.headerLogo {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  font-size: 5rem;
  margin-top: -20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}
.navigation {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
}
.navigation ul {
  display: flex;
  flex-basis: 100%;
  list-style: none;
}
.navigation ul li a {
  display: flex;
  justify-content: center;
  width: 90px;
  font-size: 2rem;
  margin: 0 15px;
  color: var(--white);
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}
.authBtns {
  display: flex;
  flex-basis: 25%;
  justify-content: center;
  min-width: 220px;
}
.authBtn {
  padding: 10px 35px;
  border: 0;
  /* font-weight: bold; */
  font-size: 1.6rem;
  color: var(--white);
  background-color: var(--green);
  cursor: pointer;
  transition: background-color 0.3s;
}
.authBtn:hover {
  background-color: var(--dark-green);
}
.activePageUnderline {
  padding-bottom: 5px;
  border-bottom: 3px solid white;
}
.navArrow {
  margin: 2px 0 0 2px;
}
