.header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  height: 120px;
  padding: 10px 5% 10px 10%;
}
.headerLogo {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  color: var(--white);
  font-size: 5rem;
  margin-top: 20px;
}
.navigation {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}
.navigation ul {
  display: flex;
  flex-basis: 100%;
  color: var(--white);
  list-style: none;
}
.navigation ul li {
  display: flex;
  justify-content: center;
  width: 80px;
  font-size: 2rem;
  margin: 0 15px;
}
.authBtns {
  display: flex;
  justify-content: center;
  flex-basis: 25%;
  min-width: 220px;
}
